/* === Small CSS Reset === */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: auto;
  width: 500px;
  height: 380px;
  overflow: hidden;
  border-radius: 15px;
  border: solid 2px #fff;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}

.controls-container {
  margin-top: 2rem;
  width: 500px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  padding: 1rem;
  color: #fff;
  background: transparent;
  border: solid 2px #fff;
}

.left {
  border-radius: 10px 0 0 10px;
}

.right {
  border-radius: 0 10px 10px 0;
}

.description {
  padding: 0.4rem 0.6rem;
  width: 100%;
  text-align: center;
  border: solid 2px #fff;
  border-left: none;
  border-right: none;
}

.controls-container h2 {
  color: #fff;
  font-size: 1.3rem;
}

.controls-container p {
  font-size: 1rem;
  color: #fff;
}

button:focus {
  outline: none;
}

button:hover {
  background: #fff;
  color: #232323;
  cursor: pointer;
}

.autoplay-btn {
  margin-top: 20px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: transparent;
  border: solid 2px #fff;
}
